**/.vs
**/Debug
pt_pal_editor/vs2019_project/pt_pal_editor/Release/pt_pal_editor.vcxproj.FileListAbsolute.txt
vs2019_project/pt2-clone/Release/pt2-clone.vcxproj.FileListAbsolute.txt
.DS_Store
*.db
*.ilk
*.pdb
*.obj
*.log
*.res
*.tlog
*.idb
*.cache
*.ipch
*.opendb
*.cod
*.db-wal
*.db-shm
*.recipe
*.iobj
*.enc
release/macos/pt2-clone-macos.app/Contents/MacOS/pt2-clone-macos
